/**
 * @name Zoid
 * @author Ashieejj#1013
 * @version 2.3.5
 * @invite eRDNGWSN
*/

@import url('https://raw.githubusercontent.com/vezcodes/UsiCord/main/css/main.css');

/* remove the slash asterix to make ur "own" theme (remove this line aswell ;))

:root {
  --background: #000700 !important;
  --text-color: #4AEF98 !important;
  --highlight: var(--text-color) !important;
}
*/
